.products {
  table {
    border-collapse: collapse;
    color: white;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #DADADA;
        background: none;
      }
    }
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 60px;
    height: 70px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

    .list_actions {
      font-size: x-small;
      text-align: right;
      padding-left: 1em;
    }

    .list_line_even {
      background: #730E15;
    }

    .list_line_odd {
      background: #CCCCCC;
  }
}